.option-col{
    display: flex;
    justify-content: space-around;
}

.section{
    text-align: center;
    font-weight: bold;
    margin: 20px 0 20px 0;
}

.form{
    padding: 10px 10px 10px 10px;
}

.input-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-label{
    width: 40%;
    font-size: 0.9rem;
}

.input{
    width: 60%;
    margin: 0;
}

.error-message{
    font-size: 0.75rem;
    margin-left: 40%;
    color: red;
}

.error-message-container{
    height: 25px;
    display: flex;
    padding-top: 2px;
}

.image-upload{
    display: flex;
    justify-content: center;
    width: 60%;
}

.image-upload > input
{
    display: none;
}
.upload-icon{
  width: 100px;
  height: 100px;
  border: 2px solid rgb(175, 175, 175);
  border-style: dotted;
  border-radius: 18px;
}
.upload-icon img{
  width: 60px;
  height: 60px;
  margin:19px;
  cursor: pointer;
}
.upload-icon.has-img {
    width: 100px;
    height: 100px;
    border: none;
}
.upload-icon.has-img img {
    width: 100%;
    height: auto;
    border-radius: 18px;
    margin:0px;
}

.button-save{
    display: block;
    border-style: none;
    width: 100%;
    height: 42px;
    background: linear-gradient(
        90deg, 
        rgba(3,129,66,1),
        rgba(133,187,47,1) ,
        rgba(255,204,3,1) ,
        rgba(238,129,0,1) ,
        rgba(230,62,17,1) 
        ); ;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: black;
    font-weight: bold;
    line-height: 25px;
    margin-top: 20px;
}

.detete-icon{
    color: red !important;
    cursor: pointer;
}

.delete-icon:hover{
    color: rgb(200, 0, 0) !important;
    cursor: pointer;
}