.variants-container{
    display: flex;
    flex-direction: column;
    margin: 20px 20px 0px 20px;
}

.variant-wrapper-fav{
    position: relative;
    border-style: solid;
    border-width: 10px;
    margin-bottom: 20px;
    cursor: pointer;
}

.variant-fav{
    display: flex;
    position: relative;
    align-items: center;
    overflow: hidden;
    height: 100px;
    width: 85%; 
}

.variant{
    display: flex;
    position: relative;
    align-items: center;
    border-style: solid;
    overflow: hidden;
    border-width: 10px;
    margin-bottom: 20px;
    height: 100px;
    width: 100%;
    cursor: pointer;
}

.letter{
    font-weight: bold;
    font-size: 3rem;
    margin-left: 20px;
}

.names{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 75%;
    margin: 0px 10% 0px 20px;
}

.to-details{
    color: black;
    text-decoration: none;
}

.date-time{
    position: absolute;
    left: 20px;
    bottom: 0;
    overflow: hidden;
    font-size: 0.8rem;
    font-style: italic;
    white-space: nowrap;
}

.prod-vari-name{
    position: absolute;
    font-weight: bold;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;  
    white-space: nowrap;
    width: 100%;
    font-size: 1.1rem;
    top: 0;
    left: 0;
}

.brand-name{
    position: absolute;
    font-style: italic;
    overflow: hidden;
    white-space: nowrap;
    font-size: 1.1rem;
    bottom: 0;
    right: 0;
}

.heart-icon{
    cursor: pointer;
    height: 50px;
    width: 50px;
    position: absolute;
    right: 0;
    bottom: 20px;
}

.empty-list{
    display: flex;
    height: 100%;
    align-items: center;
    text-align: center;
    font-weight: bold;
    border-style: solid;
    border-width: 10px;
    border-image: 
    linear-gradient(
      90deg, 
      rgba(3,129,66,1),
      rgba(133,187,47,1) ,
      rgba(255,204,3,1) ,
      rgba(238,129,0,1) ,
      rgba(230,62,17,1) 
      );
      border-image-slice: 1;
}

@media screen and (min-width: 500px) {
    .prod-vari-name{
        font-size: 1.4rem;
    }

    .brand-name{
        font-size: 1.4rem;
    }

    .letter{
        font-size: 3.5rem;
    }

    .date-time{
        font-size: 0.9rem;
    }
}